streamlit
pandas
numpy
sqlalchemy
python-dotenv
openai
PyPDF2
python-docx
openpyxl
sqlalchemy
psycopg2
scikit-learn
xgboost
lightgbm
prophet
transformers
pdfminer.six
matplotlib
plotly
altair
fairlearn
aequitas
mlflow
python-dotenv
fpdf
joblib